/*
// @font-face {
//   font-family: "ProximaNova-Light";
//   src: url(/static/fonts/ProximaNova-Light.940aacf.eot);
//   src: url(/static/fonts/ProximaNova-Light.940aacf.eot?#iefix) format("embedded-opentype"), url(/static/fonts/ProximaNova-Light.aeae898.woff2) format("woff2"), url(/static/fonts/ProximaNova-Light.707f124.woff) format("woff"), url(/static/fonts/ProximaNova-Light.8b13447.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "ProximaNova-Regular";
//   src: url(/static/fonts/ProximaNova-Regular.fad4af8.eot);
//   src: url(/static/fonts/ProximaNova-Regular.fad4af8.eot?#iefix) format("embedded-opentype"), url(/static/fonts/ProximaNova-Regular.851d1ff.woff2) format("woff2"), url(/static/fonts/ProximaNova-Regular.30c9268.woff) format("woff"), url(/static/fonts/ProximaNova-Regular.72ca225.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "ProximaNova-Semibold";
//   src: url(/static/fonts/ProximaNova-Semibold.bfbe18a.eot);
//   src: url(/static/fonts/ProximaNova-Semibold.bfbe18a.eot?#iefix) format("embedded-opentype"), url(/static/fonts/ProximaNova-Semibold.5beb8d6.woff2) format("woff2"), url(/static/fonts/ProximaNova-Semibold.5ace7d5.woff) format("woff"), url(/static/fonts/ProximaNova-Semibold.18d90f4.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Campton-Bold";
//   src: url(/static/fonts/Campton-Bold.fd9635c.eot);
//   src: url(/static/fonts/Campton-Bold.fd9635c.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Campton-Bold.785d033.woff2) format("woff2"), url(/static/fonts/Campton-Bold.236a01f.woff) format("woff"), url(/static/fonts/Campton-Bold.e714898.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Campton-Book";
//   src: url(/static/fonts/Campton-Book.6422fce.eot);
//   src: url(/static/fonts/Campton-Book.6422fce.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Campton-Book.7289d24.woff2) format("woff2"), url(/static/fonts/Campton-Book.c2ffcf9.woff) format("woff"), url(/static/fonts/Campton-Book.a80524c.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Campton-Light";
//   src: url(/static/fonts/Campton-Light.c0c3c94.eot);
//   src: url(/static/fonts/Campton-Light.c0c3c94.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Campton-Light.9cbf561.woff2) format("woff2"), url(/static/fonts/Campton-Light.358f0bb.woff) format("woff"), url(/static/fonts/Campton-Light.d6e7cff.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Campton-Medium";
//   src: url(/static/fonts/Campton-Medium.cf67d25.eot);
//   src: url(/static/fonts/Campton-Medium.cf67d25.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Campton-Medium.ff7147e.woff2) format("woff2"), url(/static/fonts/Campton-Medium.c3c653f.woff) format("woff"), url(/static/fonts/Campton-Medium.2d69001.ttf) format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }
 */



@keyframes button {
0% {
    stroke-dashoffset: -220;
}
100% {
    stroke-dashoffset: -704;
}
}
.slide--left-enter-active .slide--inner,
.slide--left-enter-active .header,
.slide--left-enter-active .footer, .slide--left-enter-active, .slide--right-enter-active .slide--inner,
.slide--right-enter-active .header,
.slide--right-enter-active .footer, .slide--right-enter-active, .slide--left-leave-active .slide--inner,
.slide--left-leave-active .header,
.slide--left-leave-active .footer, .slide--left-leave-active, .slide--right-leave-active .slide--inner,
.slide--right-leave-active .header,
.slide--right-leave-active .footer, .slide--right-leave-active {
  transition: transform 525ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.slide--left-enter {
  transform: translateX(100%);
}
.slide--left-enter .slide--inner {
    transform: translateX(-90%);
}
.slide--left-enter .header,
  .slide--left-enter .footer {
    transform: translateX(-10%);
}
.slide--right-enter {
  transform: translateX(-100%);
}
.slide--right-enter .slide--inner {
    transform: translateX(90%);
}
.slide--right-enter .header,
  .slide--right-enter .footer {
    transform: translateX(10%);
}
.slide--left-enter-to .slide--inner,
.slide--left-enter-to .header,
.slide--left-enter-to .footer, .slide--left-enter-to, .slide--right-enter-to .slide--inner,
.slide--right-enter-to .header,
.slide--right-enter-to .footer, .slide--right-enter-to, .slide--left-leave .slide--inner,
.slide--left-leave .header,
.slide--left-leave .footer, .slide--left-leave, .slide--right-leave .slide--inner,
.slide--right-leave .header,
.slide--right-leave .footer, .slide--right-leave {
  transform: translateX(0);
}
.slide--left-leave-to {
  transform: translateX(-10%);
}
.slide--left-leave-to .header,
  .slide--left-leave-to .footer {
    transform: translateX(10%);
}
.slide--right-leave-to {
  transform: translateX(10%);
}
.slide--right-leave-to .header, .slide--right-leave-to .footer {
    transform: translateX(-10%);
}

object[data-v-0fe2d5ac] { display: none
}

.vector-images-enter-active {
  transition: opacity 300ms cubic-bezier(0.3, 0.5, 0.25, 1) 250ms;
}
.vector-images-leave-active {
  transition: opacity 350ms cubic-bezier(0.3, 0.5, 0.25, 1) 75ms;
}
.vector-images-enter, .vector-images-leave-to {
  opacity: 0;
}
.vector-images-enter-to, .vector-images-leave {
  opacity: 1;
}

@media only screen and (min-width: 1025px) {
[data-toggle='true'] {
    height: 100vh;
}
}
.toggle-content {
  transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1) 200ms, opacity 400ms cubic-bezier(0.4, 0.25, 0.3, 1) 200ms;
  transform: translateY(0);
}
[data-toggle='true'] .toggle-content {
    transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1), opacity 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
    transform: translateY(-2.5vh);
    opacity: 0;
    pointer-events: none;
}
@media only screen and (max-width: 1024px) {
[data-toggle='true'] .toggle-content {
        transition: none;
        height: 0;
        margin: 0;
}
}
.up-enter-active {
  transition: all 500ms cubic-bezier(0.4, 0.25, 0.3, 1) 350ms;
}
.up-leave-active {
  transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.up-enter, .up-leave-to {
  transform: translateY(20%);
  opacity: 0;
}
.up-enter-to, .up-leave {
  transform: translateY(0);
  opacity: 1;
}

.feed-enter-active {
  transition: transform 350ms cubic-bezier(0.4, 0.25, 0.3, 1) 325ms, opacity 400ms cubic-bezier(0.4, 0.25, 0.3, 1) 325ms;
}
.feed-leave-active {
  transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1), opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.feed-enter {
  transform: translate3d(0, -5vh, 0);
  opacity: 0;
}
.feed-leave-to {
  transform: translate3d(0, -5vh, 0);
  opacity: 0;
}
.feed-enter-to, .feed-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.post-enter-active {
  transition: transform 350ms cubic-bezier(0.4, 0.25, 0.3, 1) 325ms;
}
.post-enter-active > * {
    transition: opacity 400ms cubic-bezier(0.4, 0.25, 0.3, 1) 325ms;
}
.post-leave-active {
  transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.post-leave-active > * {
    transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.post-enter {
  transform: translate3d(0, 5vh, 0);
}
.post-enter > * {
    opacity: 0;
}
.post-leave-to {
  transform: translate3d(0, 5vh, 0);
}
.post-leave-to > * {
    opacity: 0;
}
.post-enter-to, .post-leave {
  transform: translate3d(0, 0, 0);
}
.post-enter-to > *, .post-leave > * {
    opacity: 1;
}

.feature-enter-active, .feature-leave-active {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1), transform 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.feature-enter, .feature-leave-to {
  transform: translate3d(0, -5vh, 0);
  opacity: 0;
}
.feature-enter-to, .feature-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media only screen and (min-width: 568px) {
.feature-enter-active, .feature-leave-active {
    transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.feature-enter, .feature-leave-to {
    transform: translate3d(0, -2.5%, 0);
    opacity: 0;
}
.feature-enter-to, .feature-leave {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
}

.grid__column {
  transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
  transform: translate3d(0, 0, 0);
}
.grid__column .preview {
    transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1);
    transition-delay: inherit;
    opacity: 1;
}
.loading .grid__column {
    transform: translate3d(0, 2.5%, 0);
}
.loading .grid__column .preview {
      opacity: 0;
}
.loading .grid__column:nth-of-type(even) {
      transform: translate3d(0, -2.5%, 0);
}

.swap-enter-active {
  transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.swap-enter-active .post__feature {
    transition: transform 500ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.swap-leave-active {
  transition: transform 450ms cubic-bezier(0.4, 0.25, 0.3, 1), opacity 375ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.swap-leave-active .post__feature {
    transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.swap-enter, .swap-leave-to {
  transform: translateX(10%);
  opacity: 0;
}
.swap-enter .post__feature, .swap-leave-to .post__feature {
    transform: translateX(0);
}
.swap-enter-to, .swap-leave {
  transform: translateX(0);
}

.list__item {
  transition: transform 200ms cubic-bezier(0.4, 0.25, 0.3, 1), opacity 200ms cubic-bezier(0.4, 0.25, 0.3, 1);
  transform: translateX(0);
  opacity: 1;
}
.list__item:nth-of-type(2) {
    transition-delay: 50ms;
}
.list__item:nth-of-type(3) {
    transition-delay: 100ms;
}
.list__item:nth-of-type(4) {
    transition-delay: 150ms;
}
.list__item:nth-of-type(5) {
    transition-delay: 200ms;
}
.list__item:nth-of-type(6) {
    transition-delay: 250ms;
}
.update-active .list__item {
    opacity: 0;
}
.update-left .list__item {
    transform: translateX(-5%);
}
.update-right .list__item {
    transform: translateX(5%);
}
.list-swap .list__item {
    transition: none;
    transition-delay: none;
}

.feature-enter-active, .feature-leave-active {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1), transform 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.feature-enter, .feature-leave-to {
  transform: translate3d(0, -5vh, 0);
  opacity: 0;
}
.feature-enter-to, .feature-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media only screen and (min-width: 568px) {
.feature-enter-active, .feature-leave-active {
    transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.feature-enter, .feature-leave-to {
    transform: translate3d(0, -2.5%, 0);
    opacity: 0;
}
.feature-enter-to, .feature-leave {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
}

.grid__column {
  transition: transform 400ms cubic-bezier(0.4, 0.25, 0.3, 1);
  transform: translate3d(0, 0, 0);
}
.grid__column .preview {
    transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1);
    transition-delay: inherit;
    opacity: 1;
}
.loading .grid__column {
    transform: translate3d(0, 2.5%, 0);
}
.loading .grid__column .preview {
      opacity: 0;
}
.loading .grid__column:nth-of-type(even) {
      transform: translate3d(0, -2.5%, 0);
}

.entity-enter-active {
  transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1) 250ms;
}
.entity-leave-active {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.entity-enter, .entity-leave-to {
  opacity: 0;
}
.entity-enter-to, .entity-leave {
  opacity: 1;
}

