/* disqus */
.disqus {
  margin-top: 2.5rem;
}

/* author */
.author {
  width: 180px;
  margin-top: 2.5vh;
  padding: 0 0 2.5vw;
}

@media only screen and (min-width: 568px) {
  .author {
    margin-top: 2.5vw;
    margin-left: 2.5vw;
  }
}

@media only screen and (min-width: 1025px) {
  .author {
    margin-top: 0;
  }

  .author:nth-of-type(even) {
    padding: 2.5vw 0 0;
  }
}

.author--post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
  width: auto;
}

.author__list {
  position: relative;
  padding-bottom: 10vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 568px) {
  .author__list {
    padding-bottom: 5vw;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1025px) {
  .author__list {
    max-height: calc(100% - 5vw);
    transform: translateX(-2.5vw);
    margin-top: 5vw;
    padding-left: calc(46.25vw - 370px);
    padding-right: calc(43.75vw - 370px);
    overflow-y: auto;
  }
}

.author--post .author__photo {
  width: 60px;
  height: 60px;
  margin-right: 1.5rem;
  margin-bottom: 0;
  border-radius: 100%;
}

.author__figure {
  display: block;
  width: 180px;
  height: 150px;
  overflow: hidden;
}

.author__details {
  position: relative;
  padding-top: .5rem;
}

.author__name {
  margin-bottom: .25rem;
  color: #282828;
}

.author--post .author__name {
  text-transform: uppercase;
}

.author__title {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #9b9b9b;
}

.author__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #282828;
  margin-bottom: .75rem;
}

.author__overflow {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background-size: 180px;
  background-position: bottom right;
}

.author__link {
  font-size: 0.75rem;
}

.author__link a {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.calendar {
  background-color: #f5f5f5;
  padding: 5rem 9vw 0;
}

@media only screen and (min-width: 1025px) {
  .calendar {
    padding-top: 5vw;
  }
}

.calendar__vector {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

.calendar__banner {
  position: absolute;
  bottom: 0;
  right: 9vw;
  opacity: .04;
  transform: scale(0.675);
  transform-origin: 100% 50%;
}

.calendar__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 4.5rem;
}

@media only screen and (min-width: 1025px) {
  .calendar__content {
    padding-bottom: 0;
  }
}

.calendar .feed__nav {
  right: 0;
}

/* contact */
.contact {
  height: 100%;
  overflow-y: scroll;
}

@media only screen and (min-width: 1025px) {
  .contact {
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1025px) {
  .contact__form {
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.contact__field {
  width: 100%;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 1025px) {
  .contact__field {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: auto;
    margin-top: 0;
    margin-left: 1.25vw;
  }

  .contact__field:first-of-type {
    margin-left: 0;
  }
}

.contact__field--full {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 100%;
  margin: 1.5rem 0;
}

.contact__label {
  display: block;
  margin-bottom: .25rem;
  color: #9b9b9b;
}

@media only screen and (min-width: 568px) {
  .contact__label--info {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contact__input {
  width: 100%;
  height: 50px;
  padding: 0 .75rem;
  border: 1px solid #dcdcdc;
  color: #282828;
  background-color: #fff;
  transition: all 225ms cubic-bezier(0.3, 0.5, 0.25, 1);
  box-shadow: inset 0 0 0 #fc5b5e;
}

.submitted .contact__input {
  pointer-events: none;
}

.contact__input[data-invalid='true'] {
  box-shadow: inset -0.25rem 0 0 #fc5b5e;
}

.contact__input--message {
  height: 250px;
  line-height: 1.2;
  padding: .5rem .75rem;
}

.contact__input:focus {
  border-color: #9b9b9b;
}

.contact__message {
  position: relative;
  width: 100%;
  height: 3rem;
}

.contact__success {
  display: inline-block;
  transition: all 225ms cubic-bezier(0.4, 0.25, 0.3, 1);
  position: absolute;
  top: 50%;
  left: 0;
  pointer-events: none;
  transform: translate(-25%, -50%);
  color: #59a66b;
  opacity: 0;
  white-space: nowrap;
}

.contact__success--visible {
  transform: translate(0, -50%);
  opacity: 1;
}

.contact__info {
  position: relative;
  padding-top: .6rem;
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 568px) {
  .contact__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1025px) {
  .contact__info {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: block;
    margin-left: 5vw;
    margin-bottom: 0;
  }

  .contact__info span {
    display: block;
  }
}

.contact__item {
  color: #282828;
  margin-top: .6rem;
}

@media only screen and (min-width: 1025px) {

  .contact__item+.contact__item,
  .contact__item+span {
    margin-top: 1.2rem;
  }
}

.contact address {
  white-space: pre-line;
}

/* newsletter */
.newsletter--panel {
  height: calc(100vh - 9vw - 6rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media only screen and (min-width: 568px) {
  .newsletter--panel {
    margin: 0 auto;
    max-width: 720px;
  }
}

@media only screen and (min-width: 1025px) {
  .newsletter--panel {
    height: calc(100vh - 10vw);
  }
}

.newsletter__title {
  margin-bottom: .75rem;
}

.newsletter__message {
  margin-bottom: 2.5rem;
}

.newsletter__form {
  position: relative;
}

@media only screen and (min-width: 568px) {
  .newsletter__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.newsletter__form.success.submitted .button {
  transition: all 225ms cubic-bezier(0.4, 0.25, 0.3, 1);
  opacity: 0;
  transform: translateY(2rem);
}

.newsletter__input {
  width: 100%;
  height: 50px;
  padding: 0 .75rem;
  border: 1px solid #dcdcdc;
  color: #282828;
  background-color: #fff;
  transition: all 225ms cubic-bezier(0.3, 0.5, 0.25, 1);
  box-shadow: inset 0 0 0 #fc5b5e;
}

@media only screen and (min-width: 568px) {
  .newsletter__input {
    margin-right: .5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .newsletter__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: auto;
    height: auto;
    margin-bottom: 0;
  }
}

.submitted .newsletter__input {
  pointer-events: none;
}

.success .newsletter__input {
  opacity: 0;
  transform: translateY(2rem);
}

.newsletter__input[data-invalid='true'] {
  box-shadow: inset -0.25rem 0 0 #fc5b5e;
}

.newsletter__input:focus {
  border-color: #9b9b9b;
}

.newsletter__input:-ms-input-placeholder {
  color: #9b9b9b;
}

.newsletter__input::placeholder {
  color: #9b9b9b;
}

.newsletter__success {
  transition: all 225ms cubic-bezier(0.4, 0.25, 0.3, 1);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-2rem);
  pointer-events: none;
  color: #59a66b;
  line-height: 3.125rem;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
}

.success .newsletter__success {
  transform: translateY(0);
  opacity: 1;
}

.newsletter__submit {
  margin-top: .5rem;
}

@media only screen and (min-width: 568px) {
  .newsletter__submit {
    margin-top: 0;
  }
}

/* suggested */
.suggested__title {
  margin-bottom: .75rem;
}

.suggested__post {
  color: #9b9b9b;
}

.suggested__post+.suggested__post {
  margin-top: .75rem;
}

.suggested__post a:hover {
  text-decoration: underline;
}

.suggested__published {
  display: block;
  margin-top: .25rem;
  margin-left: .5rem;
  color: #b7b7b7;
}

@media only screen and (min-width: 1025px) {
  .suggested__published {
    display: inline-block;
    margin-top: 0;
  }
}

.suggested__published .icon {
  width: .8em;
  height: .8em;
  margin-right: .3em;
}

.not-found {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.not-found__title {
  color: #59a66b;
}

.not-found__link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  z-index: 0;
}

.not-found__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #59a66b;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 225ms cubic-bezier(0.3, 0.5, 0.25, 1);
  z-index: -1;
}

.not-found__link:hover::before {
  transform: scaleY(2);
}
