/* ecosystem */
.ecosystem {
  transition: padding-top 225ms cubic-bezier(0.4, 0.25, 0.3, 1);
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .ecosystem {
    background-image: linear-gradient(to bottom right, #9cc13d, #57a76a 75%);
  }
}

@media only screen and (min-width: 1025px) {
  .ecosystem {
    padding: 0;
    height: 100%;
  }
}

.ecosystem__background {
  background-image: linear-gradient(to bottom right, #9cc13d, #57a76a 75%);
}

.ecosystem__banner {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s cubic-bezier(0.3, 0.5, 0.25, 1);
}

.ecosystem__banner.hidden {
  opacity: 0;
}

.ecosystem__cta {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1) 300ms;
  color: #fff;
  margin-top: 2rem;
}

@media only screen and (min-width: 568px) {
  .ecosystem__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ecosystem__cta--hidden {
  transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1);
  opacity: 0;
  pointer-events: none;
}

.ecosystem__list {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1) 300ms, height 1ms linear 300ms;
  position: relative;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.ecosystem__list--hidden {
  transition: opacity 350ms cubic-bezier(0.4, 0.25, 0.3, 1), height 1ms linear 350ms;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.ecosystem__logo {
  margin-bottom: 1.5rem;
  text-align: center;
}

.ecosystem__logo img {
  width: 175px;
  display: inline;
}

/* entity */
.entity {
  position: relative;
  padding: 6rem 9vw;
  color: #fff;
}

.entity::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-image: linear-gradient(to bottom right, #9cc13d, #57a76a 75%);
  background-size: 100vw 100vh;
}

@media only screen and (min-width: 1025px) {
  .entity::after {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .entity {
    width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    overflow: hidden;
  }
}

.entity__title {
  color: #fff;
  margin-bottom: 2.5rem;
}

.entity__title--image {
  height: 1em;
  width: auto;
}

.entity__link {
  display: block;
  margin-top: 1.25rem;
  text-transform: uppercase;
}

.entity__link .icon {
  transition: transform 225ms cubic-bezier(0.4, 0.25, 0.3, 1);
  margin-left: .25rem;
  transform: translate(0, 10%) rotate(-90deg);
}

.entity__link:hover .icon {
  transform: translate(50%, 10%) rotate(-90deg);
}

.entity__close {
  position: absolute;
  top: 5.75rem;
  right: calc(9vw - .5rem);
  padding: .25rem .5rem;
  font-size: 2.25rem;
}

@media only screen and (min-width: 1025px) {
  .entity__close {
    top: -.75rem;
    right: -.7rem;
  }
}
