html {
  --minSize: 16;
  /* minimal font size in px */
  --maxSize: 22;
  /* maximum font size in px */
  --minDim: 320;
  /* minimal viewport in px */
  --maxDim: 1200;
  /* maximum viewport in px */
  font-size: clamp(calc(var(--minSize) * 1px),
      calc(var(--minSize) * 1px + (var(--maxSize) - var(--minSize)) * ((100vmin - (var(--minDim) * 1px)) / (var(--maxDim) - var(--minDim)))),
      calc(var(--maxSize) * 1px));
}

/* =========== */
html {
  font-family: Geneva, Tahoma, sans-serif;
  list-style: none;
}

body {
  margin: 1rem;
}

a,
button {
  text-decoration: none;
  text-rendering: geometricPrecision;
  text-indent: 3px;
  text-align: center;
  /* text-decoration-line: overline;
    text-decoration-color: aqua; */

}

/* img {
  max-height: 15rem;
  width: auto;
} */
