
/* reset */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

*:active,
*:hover {
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
i,
em,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
pre,
ins,
del,
address,
input,
select,
button,
textarea {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: inherit;
}

textarea,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
}

a,
ins,
del,
button {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

pre,
textarea {
  overflow: auto;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

form {
  width: 100%;
}

button {
  cursor: pointer;
  overflow: visible;
}

textarea {
  resize: none;
}

::moz-focus-inner {
  padding: 0;
  border: none;
}

body {
  position: relative;
  background-color: #fff;
}

@media only screen and (min-width: 1025px) {
  body {
    height: 100%;
    overflow: hidden;
  }
}

body p {
  line-height: 1.45;
}

body ::-moz-selection {
  background-color: rgba(3, 89, 247, 0.1);
}

body ::selection {
  background-color: rgba(59, 7, 246, 0.1);
}

body,
.preview--featured .preview__content,
.newsletter__input:-ms-input-placeholder {
  font-family: 'ProximaNova-Light', sans-serif;
}

body,
.preview--featured .preview__content,
.newsletter__input::placeholder {
  font-family: 'ProximaNova-Light', sans-serif;
}

.preview__content,
.entity,
.rte figcaption {
  font-family: 'ProximaNova-Regular', sans-serif;
}

.rte strong,
.rte em strong,
.rte strong em,
.preview__type,
.home__subtitle,
.contact__item,
.footer__nav,
.sidebar__social,
.sidebar,
.button,
.contact__label,
.header,
.home__back,
.entity__link,
.contact__success,
.newsletter__success,
.blog__filter,
.preview__cat,
.suggested__published,
.post__published,
.contact__input,
.newsletter__input,
.rte h3,
.suggested__post {
  font-family: 'ProximaNova-Semibold', sans-serif;
  cursor: pointer;
}

.author {
  font-family: 'Campton-Light', sans-serif;
}

.preview__title,
.preview__date,
.list__post,
.entity__close {
  font-family: 'Campton-Book', sans-serif;
}

.entity__title,
.not-found__title,
.home__title,
.post__title,
.preview--featured .preview__title,
.preview--featured .preview__date,
.author__name,
.author__title,
.newsletter__title,
.suggested__title,
.not-found__link,
.rte h4,
.preview__plus {
  font-family: 'Campton-Medium', sans-serif;
}

.home__banner,
.ecosystem__banner,
.blog__banner,
.calendar__banner,
.preview__event,
.home__banner--mobile {
  font-family: 'Campton-Bold', sans-serif;
}

body,
.preview--featured .preview__content,
.newsletter__input:-ms-input-placeholder {
  font-size: 1rem;
}

body,
.preview--featured .preview__content,
.newsletter__input::placeholder {
  font-size: 1rem;
}

.entity__title,
.not-found__title {
  font-size: 2.625rem;
}

.home__title,
.post__title {
  font-size: 2rem;
}

.preview--featured .preview__title,
.preview--featured .preview__date {
  font-size: 1.75rem;
}

.home__subtitle,
.contact__item {
  font-size: 1.25rem;
  line-height: 1.3;
}

.footer__nav,
.sidebar__social,
.sidebar,
.button,
.contact__label,
.header,
.home__back,
.entity__link,
.contact__success,
.newsletter__success {
  font-size: 0.875rem;
  letter-spacing: .04em;
}

.footer__nav,
.sidebar__social,
.sidebar,
.button,
.contact__label {
  text-transform: uppercase;
}

.footer__nav,
.sidebar__social {
  font-size: 0.8125rem;
}

.blog__filter,
.preview__cat,
.suggested__published {
  font-size: 0.8125rem;
  letter-spacing: .03em;
}

.post__published {
  font-size: 0.9375rem;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.home__banner,
.ecosystem__banner,
.blog__banner,
.calendar__banner,
.preview__event,
.home__banner--mobile {
  text-transform: uppercase;
}

.preview__title,
.preview__date,
.list__post {
  font-size: 1rem;
}

.preview__content {
  font-size: 0.875rem;
  line-height: 1.2;
}

.blog__filter {
  text-transform: uppercase;
}

.contact__input,
.newsletter__input {
  letter-spacing: .04em;
}

.author {
  font-size: 0.9375rem;
}

.entity {
  font-size: 0.9375rem;
}

.home__banner {
  font-size: 9.375rem;
}

.ecosystem__banner {
  font-size: 7.8125rem;
}

.blog__banner,
.calendar__banner {
  font-size: 10.625rem;
}

.newsletter__title,
.suggested__title,
.not-found__link {
  font-size: 1.125rem;
}
